


<ul class="example-orbit" data-orbit>
  <li>
    <%= image_tag 'mars.jpeg' %>
    <div class="orbit-caption">
      Caption One.
    </div>
  </li>
  <li class="active">
    <%= image_tag 'andromeda-orbit.jpg' %>
    <div class="orbit-caption">
      Caption Two.
    </div>
  </li>
  <li>
    <%= image_tag 'launch-orbit.jpg' %>
    <div class="orbit-caption">
      Caption Three.
    </div>
  </li>
</ul>
</div>

<hr/>
</div>
</div>



<div class="row">
  <div class="large-4 columns">
    <%= image_tag 'images (2).jpg' %>
    <h4>Sun.</h4>
    <p>The Sun is a very hot gaseous body composed of almost 75% hydrogen and 25% helium. Less than 1% is made up of oxygen and several other elements. The diameter of the Sun is 1,400,000 km (840,000 miles) which is more than 100 times the diameter of the Earth. Its mass is more than 300,000 times that of the Earth with a surface temperature of about 5500° C..</p>
  </div>

  <div class="large-4 columns">
    <%= image_tag 'images (1).jpg' %>
    <h4>Earth.</h4>
    <p>Earth is almost a sphere
      The Earth’s shape could be described as an oblate spheroid. It’s kind of like a sphere, but the Earth’s rotation causes the equator to bulge out . What this means is that the measurement from pole to pole is about 43 km less than the diameter of Earth across the equator.

      Even though the tallest mountain on Earth is Mount Everest, the feature that’s furthest from the center of the Earth is actually Mount Chimborazo in Ecuador.

      Earth is mostly iron, oxygen and silicon
      If you could separate the Earth out into piles of material, you’d get 32.1 % iron, 30.1% oxygen, 15.1% silicon, and 13.9% magnesium. Of course, most of this iron is actually down at the core of the Earth. If you could actually get down and sample the core, it would be 88% iron. 47% of the Earth’s crust consists of oxygen.

      Read more: http://www.universetoday.com/14382/10-interesting-facts-about-planet-earth/#ixzz34jWtqqdd
    </p>
  </div>

  <div class="large-4 columns">
    <%= image_tag 'planet-mars-pia03154_15309_600x450.jpg' %>
    <h4>Mars.</h4>
    <p> Mars is the fourth planet from the sun. Befitting the red planet's bloody color, the Romans named it after their god of war. The Romans copied the ancient Greeks, who also named the planet after their god of war, Ares. Other civilizations also typically gave the planet names based on its color — for example, the Egyptians named it "Her Desher," meaning "the red one," while ancient Chinese astronomers dubbed it "the fire star."
      Physical characteristics

      Regolith

      The bright rust color Mars is known for is due to to iron-rich minerals in its regolith — the loose dust and rock covering its surface. The soil of Earth is a kind of regolith, albeit one loaded with organic content. </p>
  </div>

</div>


<div class="row">
  <div class="large-12 columns">

    <div class="panel">
      <h4>Get in touch!</h4>

      <div class="row">
        <div class="large-9 columns">
          <p>We'd love to hear from you, you attractive person you.</p>
        </div>
        <div class="large-3 columns">
          <a href="contacts" class="radius button right">Contact Us</a>


        </div>
      </div>
    </div>

  </div>
</div>



<footer class="row">
  <div class="large-12 columns">
    <hr/>
    <div class="row">
      <div class="large-6 columns">
        <p>© Copyright no one at all. Go to town.</p>
      </div>
      <div class="large-6 columns">
        <ul class="inline-list right">
          <li><a href="#">Link 1</a></li>
          <li><a href="#">Link 2</a></li>
          <li><a href="#">Link 3</a></li>
          <li><a href="#">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<script type='text/javascript'>
    $(window).load(function() {
        $('#featuredContent').orbit({ fluid: '16x6' });
    });
</script>
<script>


</script>
